@media only screen and (max-width: 700px) {
  .main-heading {
    margin-top: 48%;
    line-height: 1.8em;
  }
  .h-1 {
    font-size: 2em;
    letter-spacing: 2%;
  }
  .h-2 {
    font-size: 1.7em;
    white-space: nowrap;
    letter-spacing: 2%;
    font-weight: 200;
  }
  .typing-box {
    position: relative;
  }
  .t1 {
    position: relative;
    padding-top: 2%;
    font-size: 2.7em;
    font-weight: 130;
    letter-spacing: 3%;
  }
  .box {
    width: 110%;
    height: 80%;
    margin-top: 30%;
    margin-bottom: 30%;
  }
  .r-chip-1 {
    position: relative;
    bottom: 15px;
  }
  .r-chip-2 {
    position: relative;
    top: 15px;
  }
  .menu {
    height: 75%;
  }
  .menu-box {
    position: relative;
    margin: auto;
    padding: 5%;
    margin-right: 2%;
    top: 15%;
  }
  .icon {
    top: 15%;
    color: rgba(255, 255, 255, 1) !important;
    font-size: 3em;
  }
}
@media only screen and (min-width: 701px) {
  .main-heading {
    line-height: 3em;
    margin-top: 18%;
  }
  .align-box {
    position: relative;
  }
  .border-box {
    border-right: 2px solid white;
  }
  .h-1 {
    font-size: 3em;
    letter-spacing: 4%;
  }
  .h-2 {
    font-size: 2.8em;
    letter-spacing: 8%;
  }
  .t1 {
    position: relative;
    font-size: 3em;
    font-weight: 130;
    top: 27% !important;
    letter-spacing: 3%;
    text-align: left !important;
  }
  .menu {
    height: 85%;
  }
  .menu-box {
    position: relative;
    margin: auto;
  }
  .box {
    height: 80%;
    margin: 15%;
  }
  .icon {
    position: relative;
    top: 19%;
    color: rgba(255, 255, 255, 1) !important;
    font-size: 4.7em;
  }
}
